<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Admit New Prisoner</h1>
  <form class="" action="/prisoners" method="post">
    Name: <input type="text" name="name" value=""> </br>
    Age: <input type="text" name="age" value=""> </br>
    Crime: <input type="text" name="crime" value=""> </br>
    Race: <input type="text" name="race" value=""> </br>
    Picture: <input type="text" name="picture" value=""> </br>
    DurationOfStay: <input type="text" name="durationOfStay" value=""> </br>
    Behavior: <input type="text" name="behavior" value=""> </br>
    CellNumber: <input type="text" name="cellNumber" value=""> </br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>