<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Cell Information</h1>
  <%=Cell.name%> </br>
  <form action="/prisoners/<%=prisoner.id%>/edit" method="GET">
    <input type="submit" value="EDIT CELL INFORMATION">
  </form>
  
</body>

</html>
