<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Cell Information</h1>
  <%=cells.name%>

  <form action="/cells/<%=cells.id%>?_method=PUT" method="post">
    <input type="text" name="name">
    <input type="submit" value="SUBMIT">
  </form>

</body>

</html>
