<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Cells: This is your index page</h1>
  <a href="/cells/new">CREATE NEW CELL</a> </br>

<% for ( let i = 0; i < cells.length; i++ ) { %>

  <%= cells[i].name %> </br>
<a href='/cells/<%=cells[i].id%>'>VIEW CELLS</a> </br>

<% } %>

</body>

</html>
