<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a New Jail Cell</h1> </br>
    <form action="/cells" method="post">
      Inmate: <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
    <!-- <form action="/cells" method="post">
      Sentence: <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
    <form action="/cells" method="post">
      Crime: <input type="text" name="name">
      <input type="submit" value="Submit">
    </form> -->
    <!-- <label for="">Criminal ID</label>
       <br/>
       <input type="text" name="title" /><br/>
       <label for="">Jail Type</label>
       <br/>
       <textarea name="body"></textarea><br/>
       <input type="submit" value="Process"/>
  </body> -->
</html>
